*.pkl filter=lfs diff=lfs merge=lfs -text
plataformaapp/modelos/predicao_criadouros_2015-2016.pkl filter=lfs diff=lfs merge=lfs -text
plataformaapp/modelos/predicao_casos_2015-2016.pkl filter=lfs diff=lfs merge=lfs -text
